.venv/
__pycache__/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/target/
dbt_project/.user.yml
dev/
logs/
.env
*.ipynb
airflow-webserver.pid
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py
